/* font import */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300&family=Luckiest+Guy&family=Press+Start+2P&display=swap');


* {
  margin: 0;
  font-family: 'Inter Tight', sans-serif;
  /* centers content */
  margin-right: auto;
  margin-left: auto;
  overflow-x:visible;
}



body {
  display:flex;
  flex-direction:column;
  overflow-y:auto;
  background-color:#FFFFFF;
  color:black;
}

html, body, .home, #root, .App, div.content, .formtainer{
  width:100%;
  height:100%;
  min-width:100%;
  min-height:100%;
  max-width:100%;
  max-height:100%;
}

div.formtainer {
  display:flex;
  flex-direction:column;
}

.home {
  display:flex;
  flex-direction: column;
  overflow-y:auto;
  overflow-x:hidden;
}


/* PHASER CANVAS ELEMENT*/
canvas {
  /* centers phaser canvas */
  display: block;   
  margin: auto;
  }


/* START MENU FOR GAME */
.hidden {
  display: none; 
}

div .startmenu {
  z-index: 100;
  display:flex;
  background-color: black;
  font-size: 2em;
  color: white;
  width: 100%;
  height: 535px;
  align-content:center;
  flex-direction: column;
} 

.unselectedmessage {
  padding-top: 15%;
  font-size: 1em;
  margin-bottom: 0;
  font-weight: bold;
}

.selectedmessage {
  padding-top: 15%;
  font-size: 1em;
  margin-bottom: 0;
  font-weight: bold;
}

.highlight {
  color: #7745E5;
}
.startbutton {
  display: block;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  background-color: #7745E5;
  border-radius: 10px;
  margin: auto;
  margin-top: 5%;
}

.startbutton:hover {
  background-color: white;
  color: #7745E5;
  cursor:pointer;
}





/* NAV BAR STYLE */
.nav h1 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 3em;
}
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

.navbar, .nav {
  position:relative;

}

.navbar li{
  display: inline;
}
.nav a {
  padding: 25px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 1em;
}

.nav a:hover {
  color: #7745E5;
}

.nav, .navbar {
  overflow-y:hidden;
}

/* HOME STYLE */
.center-layer {
  width:100vw;
  height: 73vh;
  display:grid;
  justify-content:center;
  min-height:555px;
  overflow-y:auto;
  overflow-x:hidden;
  column-gap:1vh;
}


/* BANNER STYLE */
.welcome {
  color: black;
  font-weight: bold;
  font-size: 1em;
  font-family: 'Press Start 2P', cursive;
  margin: 0.5vh auto;
}

/* SONG SELECT MENU */
.song-title {
  margin: auto;
}

.box {
  display: flex !important;
  align-items: left;
}

.center-layer .song-select {
  z-index:200;
  width:900px; 
  height:fit-content;
  max-height:532px;
  border: 3px solid black;
  overflow-y:auto;
}

/*  GAME STYLING */
/* Game will always be centered no matter what. */
#game-container, .song-select, .startmenu {
  margin: 0 auto;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
  justify-self: center;
}

canvas {
  border-color: black;
  border-style: solid;
  border-width: 5px;
}

/* leaderboard banner item */
.leaderboardIMG {
  height: 1.5em;
  float: left;
  margin-left: 30px;
}

.item-wrapper {
  border: 3px solid black;
  position: relative;
  width: 200px;
  padding: 0;
  margin-bottom: 5px;
  float: left;
  /* margin-left: 20px; */
  margin-top: 30px;
  right: 200px;
  margin-bottom: 25px;

}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5px;
  padding-bottom: 1px;
  border-top: 1px solid #7745E5;
  font-size: 0.9em;


}

.item__score {
  font-family: monospace;
  flex: 1;
  text-align: right;
}

.item__name,
.item__score {
  margin-left: 5px;
}


/* LOGINFORM STYLE */
input, button{
  border: none;
}

form {
  display: block;
  position: relative;
  padding: 1px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 40vw;
}

form:after {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: 1;
  background-image: linear-gradient(to bottom right, #7745E5, #FE4880);
}

.loginForm div {
  background-color: #FFF;
}

form .form-inner{
  position: relative;
  display: block;
  background-color: #FFFF;
  padding: 10px;
  z-index: 2;
}

form .form-inner h2 {
  padding-top: 5px;
  padding-bottom: 20px;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
}

form .form-inner .form-group {
  display: block;
  width: 80%;
  margin-bottom: 20px;
}

.form-inner .form-group label {
  display: block;
  color: black;
  font-size: 1.2em;
  text-align: left;
  transition: 0.4s;
  font-weight: bold;
}

.form-inner .form-group:focus-within label {
  color: #7745E5;
}

form .form-inner .form-group input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  margin-top: 3px;
  background-color: #56545a3a;
  border-radius: 8px;
  transition: 0.4s;
}

form .form-inner .form-group input:focus {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #666,  50%, #7745E5 50%);
  background-position: 0%;
  background-size: 200%;
  color: #FFF;
  transition: 0.4s;
  font-weight: bold;
  cursor: pointer;
}

.form-inner button:hover {
  background-position: 100%;
}

.form-inner p {
  padding-top: 10px;
  padding-bottom: 0px;
}

.nowrap {
  white-space: nowrap;
}

.errmsg {
  display: inline-block;
  background-color: black;
  color: red;
  padding: 0.25em;
  margin-bottom: 0.5em;
}


.form__input--incomplete {
  border: 1px solid black;
  outline: 1px solid black;
}



/* Slider */
.speed-slider {
  margin: 3vh 3vh;
}


/* STATS STYLE */
div.statsContainer {
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.stats {
  min-width: 400px;
}
.title {
  margin-top: 3%;
  font-weight: 900;
  font-size: 2em;
  margin-bottom: 3%;
  
}

.statDate {
  text-align: left;
}
.statTitle {
  color: #7745E5;
  text-align: left;

}

.items{
  text-align: justify;
} 

/* .scoreItem {
  background-color: black;
  max-width: 400px;
  padding: 20px;
  margin-top: 20px;
  color: white;
  border-radius: 10px;
}

.song {
  font-size: 1.2em;
}

.date {
  margin-bottom: 10px;
}

*/


/* FOOTER STYLE */
.footer {
  border-top: solid 5px black;
  width: 100%;
  height:fit-content;
  background-color:#050a30;
  align-self: flex-end;
  margin:auto auto 0;
  bottom: 0;
  position: fixed;
}

/*Typemania logo item */
.FooterImage{
  width: 1280px;
  
}



/* MEDIA QUERIES (RESPONSIVE) */
@media only screen and (max-width: 1650px) {
  /* leaderboard banner item */
  
}

@media only screen and (max-width: 1365px) {
  .FooterImage{
    width: 900px;
  }
}

@media only screen and (max-width: 1220px) {
  
}

@media only screen and (max-width: 1150px) {
  
}